body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/fondo-login.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    transition: 1s opacity;
}
