.pestania-ce {
    height: 3vh;
    width: 18vw;
    margin: auto;
    display: inline-table;
    margin-right: -10px;
    margin-left: 0px;
    margin-bottom: -2px;
    border-bottom: 2px solid rgba(255, 245, 230, 1);
    background-color: rgba(255, 245, 230, 1);
    border-right: 2px outset lightgray;
    border-left: 2px outset lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 2px outset lightgray;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.1vw;
    font-weight: bold;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 0px 0px 1px darkslategrey;
}

.pestania-ce.inactiva {
    background-color: darkseagreen;
    border-bottom: 2px groove lightgray;
    z-index: 1;
    color: dimgray;
    cursor:pointer;
}

.pestania-ce.inactiva:hover {
    color:gray;
}

.pestania-ce > span {
    float: left;
    margin-left: 1vw;
    margin-right: -1vw;
}

.label_dato_ce {
    margin: 0px 0px 0px 10px;
    font-size:1vw;
}

.info_ce {
    font-weight:bold;
}

.dato_ce {
    text-decoration: underline;
}

.label_form_dato_ce {
    font-size:1.1vw;
    padding:0;
    margin:auto;
}

.form-label-ce {
    font-size:2.5vh;
    text-shadow: 1px 1px 5px darkgrey;
    text-decoration: underline;
}

.form-ce {
    background-color: rgba(255, 245, 230, 0.7);
    padding: 3vh 4vw;
    border-radius: 10px;
    border-style: groove;
    border-color: lightgray;
    border-width: 2px;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 0;
    transition: 0.5s ease-in height;
}

.form-ce > div.row {
    width: 100%;
}

.span-icono-ce {
    height: 4vh;
    width: 3vw;
    padding: 0;
}

.span-icono-ce > i {
    font-size: 1.5vw;
}

.input-group > select {
    text-align-last:center;
    width:100%;
    border-radius: 5px;
}

.form-fila {
    height: 7vh;
    margin-bottom: 2.8vh;
}

.form-fila.folios {
    margin-bottom: 2.82vh;
}

.fila-bloque-der {
    width: 12vw;
    margin-right: 0px;
    display: inline-block;
    /* float: right; */
    margin-left: 5vw;
}

.fila-bloque-izq {
    width: 12vw;
    margin-right: 2vw;
    display: inline-block;
}

.form-valor-ce {
    height: 4vh !important;
    font-size: 1vw !important;
    text-align-last: center;
    width: 20vw;
    border: 1px solid rgba(0,0,0,.15);
    padding-right: 2vw;
}

.boton_ce {
    width:13vw;
    display: inline-block;
}
