@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97356617');
  src: url('../font/fontello.eot?97356617#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97356617') format('woff2'),
       url('../font/fontello.woff?97356617') format('woff'),
       url('../font/fontello.ttf?97356617') format('truetype'),
       url('../font/fontello.svg?97356617#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97356617#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-to-end:before { content: '\e802'; } /* '' */
.icon-to-start:before { content: '\e803'; } /* '' */
.icon-fast-backward:before { content: '\e804'; } /* '' */
.icon-fast-forward:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-stop:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-record:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-network:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-info-1:before { content: '\e80e'; } /* '' */
.icon-info-circled-1:before { content: '\e80f'; } /* '' */
.icon-plug:before { content: '\e810'; } /* '' */
.icon-water:before { content: '\e811'; } /* '' */
.icon-block:before { content: '\e812'; } /* '' */
.icon-block-1:before { content: '\e813'; } /* '' */
.icon-block-2:before { content: '\e814'; } /* '' */
.icon-list-add:before { content: '\e815'; } /* '' */
.icon-keyboard:before { content: '\e816'; } /* '' */
.icon-search-1:before { content: '\e817'; } /* '' */
.icon-terminal:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-floppy-1:before { content: '\e81a'; } /* '' */
.icon-arrows-cw:before { content: '\e81b'; } /* '' */
.icon-arrows-cw-1:before { content: '\e81c'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e81d'; } /* '' */
.icon-arrows-cw-2:before { content: '\e81e'; } /* '' */
.icon-arrows-cw-3:before { content: '\e81f'; } /* '' */
.icon-cog-outline:before { content: '\e820'; } /* '' */
.icon-cog:before { content: '\e821'; } /* '' */
.icon-cog-1:before { content: '\e822'; } /* '' */
.icon-play-1:before { content: '\e823'; } /* '' */
.icon-clipboard:before { content: '\e824'; } /* '' */
.icon-eye:before { content: '\e825'; } /* '' */
.icon-eye-outline:before { content: '\e826'; } /* '' */
.icon-folder-add:before { content: '\e827'; } /* '' */
.icon-dollar:before { content: '\e828'; } /* '' */
.icon-money-1:before { content: '\e829'; } /* '' */
.icon-download:before { content: '\e82a'; } /* '' */
.icon-upload:before { content: '\e82b'; } /* '' */
.icon-download-outline:before { content: '\e82c'; } /* '' */
.icon-download-1:before { content: '\e82d'; } /* '' */
.icon-upload-outline:before { content: '\e82e'; } /* '' */
.icon-upload-1:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-play-2:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-play-3:before { content: '\e835'; } /* '' */
.icon-play-outline:before { content: '\e836'; } /* '' */
.icon-googleplay:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-play-circled2:before { content: '\e83a'; } /* '' */
.icon-play-circle2:before { content: '\e83b'; } /* '' */
.icon-play-circled-1:before { content: '\e83c'; } /* '' */
.icon-play-5:before { content: '\e83d'; } /* '' */
.icon-login:before { content: '\e83e'; } /* '' */
.icon-login-1:before { content: '\e83f'; } /* '' */
.icon-pencil-neg:before { content: '\e840'; } /* '' */
.icon-pencil-alt:before { content: '\e841'; } /* '' */
.icon-pencil-circled:before { content: '\e842'; } /* '' */
.icon-pencil:before { content: '\e843'; } /* '' */
.icon-pencil-1:before { content: '\e844'; } /* '' */
.icon-pencil-2:before { content: '\e845'; } /* '' */
.icon-pencil-alt-1:before { content: '\e846'; } /* '' */
.icon-edit:before { content: '\e847'; } /* '' */
.icon-switch:before { content: '\e848'; } /* '' */
.icon-exchange-1:before { content: '\e849'; } /* '' */
.icon-pin:before { content: '\e84a'; } /* '' */
.icon-pin-outline:before { content: '\e84b'; } /* '' */
.icon-pin-1:before { content: '\e84c'; } /* '' */
.icon-warning:before { content: '\e84d'; } /* '' */
.icon-warning-empty:before { content: '\e84e'; } /* '' */
.icon-database:before { content: '\e84f'; } /* '' */
.icon-check:before { content: '\e850'; } /* '' */
.icon-down-hand:before { content: '\e851'; } /* '' */
.icon-calendar:before { content: '\e852'; } /* '' */
.icon-calendar-1:before { content: '\e853'; } /* '' */
.icon-play-4:before { content: '\f00f'; } /* '' */
.icon-info-circled-2:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-terminal-1:before { content: '\f120'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */