
html {
    overflow: hidden;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/fondo-login.jpg');
    background-size: cover;
    transition: 1.5s;
}

.footer {
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%);
    color: white;
    font-family: Arial;
    font-size: 9pt;
    text-align: center;
    height:7%;
}

.footer > p {
    margin-bottom: 0px;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: 0.5s opacity;
    z-index: 10;
}

.banner_loading {
    background-image: url('../img/loading.gif');
}

.banner_error {
    background-image: url('../img/error.png');
}

.banner > div {
    text-align: center;
    text-align-last: center;
    top: 70%;
    position: relative;
    font-family: Arial;
    font-size: 20pt;
    text-shadow: 1px 1px 1px darkgreen;
}

.parrafo_invisible {
    opacity: 0;
}

.parrafo_visible {
    transition: 3s ease-in;
    opacity: 1;
}

.button_gral {
    width: 150px;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 16pt;
    font-weight: bold;
    color: azure;
    background-color: #1B9258;
    border-radius: 20px;
    transition: 0.3s ease-in;
    cursor: hand;
}

.button_gral:hover {
    background-color: antiquewhite;
    text-decoration:underline;
    transition: 0.1s ease-in;
    color: #1B9258;
    cursor: pointer;
}

.button_gral:active {
    color: white;
}

li.vista-archivos.carpeta {
    list-style-image: url('../img/folder16.png');
}

li.vista-archivos.archivo {
    list-style-image: url('../img/minus16.png');
}

.fill {
    min-height: 100%;
    height: 100%;
}
