
.menu-principal {
    height: 6%;
}

.workspace-row {
    display: flex;
    align-items: center;
    height:87%;
}

.opcion-menu {
    height:100%;
    cursor:pointer;
    user-select: none;
}

.opcion-menu > div {
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%);
    height:100%;
    cursor:pointer;
    color: azure;
    text-shadow: 2px 2px 2px rgba(0, 45, 0, 1);
    font-size: 1.1vw;
    text-align:center;
}

.opcion-menu > div:hover {
    font-weight: bold;
    /*font-size: 20px;*/
    background: linear-gradient(to bottom, #185135 0%,#48966b 50%,#185135 100%);
    /*text-shadow: 4px 5px 2px rgba(0, 45, 0, 1)*/
    text-shadow: 2px 2px 2px rgba(0, 45, 0, 1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.opcion-menu > div:active {
    color: darkseagreen;
    background: #215e3e;
    text-shadow: none;
}

.opcion-menu.deshabilitado > div {
    color: darkseagreen;
    background: #215e3e;
    text-shadow: none;
    cursor: default;
}

.opcion-menu.deshabilitado > div:hover {
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
}

.opcion-menu > div > p {
    margin: 0px 0px;
    line-height: 20px;
}

.opc-vista {
    /*background: white;*/
    border-radius: 5px;
    padding: 1% 0%;
    opacity: 0;
    transition: 0.3s opacity;
    /*transition-delay: 0.5s;*/
}

.opc-vista.visible {
    opacity: 1;
}
