#div_fondo_layout {
    background: url(../img/fondo-login.jpg);
    background-size: cover;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#div_footer_layout {
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0%;
    left: 0%;
    /*background-color: #215E3E;*/
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%);
    color: white;
    font-family: Arial;
    font-size: 9pt;
    text-align: center;
}

.button_layout {
    width: 150px;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 18pt;
    font-weight: bold;
    color: azure;
    background-color: #1B9258;
    border-radius: 20px;
    margin-top: 13%;
    transition: 0.3s ease-in;
    cursor: hand;
}

.button_layout:hover {
    background-color: antiquewhite;
    text-decoration:underline;
    transition: 0.1s ease-in;
    color: #1B9258;
}

#div_menu_layout {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    /*background-color: #215E3E;*/
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%)
}

#div_menu_layout > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%);
    user-select: none;
}

#div_menu_layout > ul > li {
    display: inline-block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    float: right;
    line-height: 30px;
    background: linear-gradient(to bottom, #215e3e 0%,#347c58 50%,#215e3e 100%);
    text-shadow: 2px 2px 2px rgba(0, 45, 0, 1);
    cursor:hand;
    width: calc(100% / 5 - 32px);
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

#div_menu_layout > ul > li:hover {
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(to bottom, #185135 0%,#48966b 50%,#185135 100%);
    text-shadow: 4px 5px 2px rgba(0, 45, 0, 1)
}

#div_menu_layout > ul > li:active {
    color: darkseagreen;
    background: #215e3e;
}

#div_banner_layout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: 1s ease-in;
}

.div_banner_layout_loading {
    background: url(../img/loading.gif);
}

.div_banner_layout_error {
    background: url(../img/error.png);
}

#div_banner_layout > p {
    text-align: center;
    text-align-last: center;
    top: 70%;
    position: relative;
    font-family: Arial;
    font-size: 20pt;
    text-shadow: 1px 1px 1px darkgreen;
}

.p_invisible {
    opacity: 0;
}

.p_visible {
    transition: 3s ease-in;
    opacity: 1;
}

html {
    overflow: hidden;
}
