.contenedor-mod {
    height: 80%;
    display: none;
    padding: 1vh 1vw;
}

.contenedor-comentarios-mod > div > div {
    padding: 0px 0px 0px 0px;
    margin-left: 0%;
}

.contenedor-comentarios-mod > div {
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin-left: 0%;
    width: 100%;
}

.contenedor-comentarios-mod {
    height: calc(9% - 1.3vh);
    margin-top: 1vh;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

.contenedor-comentarios-mod > div > div > textarea {
    width: 99%;
    height: 100%;
    resize: none;
    font-size: 1.2vh;
}

.contenedor-comentarios-mod > div > div > label {
    display: block;
    text-align: center;
    height: 100%;
    line-height: 1;
    font-size: 1.5vh;
    text-decoration: underline;
}

.seleccion-esc-mod {
    height: 10%;
    margin-bottom: 1vh;
}

.seleccion-esc-mod > div {
    padding-top: 0.3vh;
}

.seleccion-esc-mod > div > div > label {
    font-size: 0.8vw;
    font-weight: bold;
    margin: 3px 3px 0px 0px;
}

.seleccion-esc-mod > div > div > select {
    width: 6vw;
    height: 2.7vh;
    border-radius: 10px;
    margin-top: 0.2vh;
    font-size: 0.8vw;
    text-align-last: center;
}

.seleccion-esc-mod > div > button {
    height: 3.5vh;
    margin-top: 1vh;
    font-size: 0.8vw;
    width: 12vw;
    background-color: teal;
}

.seleccion-esc-mod > div > button.bd {
    background-color: sienna;
}

.seleccion-esc-mod > div > button.bd:disabled {
    background-color: gray;
}

.celda-header-mod {
    background-color: #004d4d;
}

.celda-header-mod > div > span.span-archivo {
    color: aliceblue;
}
